<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="shortcut icon" href="/ico/ico.ico" type="image/x-icon">
    <title> 🎨 Bills</title>
  </head>
  <body>
    <header id="header_container" class="header_container"></header>
    
    <h1 class="title_web">Pagos realizados</h1>

    <section class="billsDataDate">
      <div class="titles_container gridBills">
        <div class="title">ID</div>
        <div class="title">Descripcion</div>
        <div class="title">Precio</div>
        <div class="title">Fecha</div>
        <div class="title">Editar</div>
        <div class="title">Eliminar</div>
      </div>
      <div class="data_container gridBills">
        <% bills.forEach((indice) => { %>
        <div class="data"><%=indice.id %></div>
        <div class="data"><%=indice.bills.toUpperCase() %></div>
        <div class="data"><%=indice.price %></div>
        <div class="data"><%=indice.date.toLocaleDateString() %></div>
        <div class="data">
          <a class="btn-update" href="/bills/update/<%=indice.id %>">
            <img class="img_icon" src="/img/editar.svg" alt="" />
          </a>
        </div>
        <div class="data">
          <a class="btn-delete" href="/bills/delete/<%=indice.id %>">
            <img class="img_icon" src="/img/eliminar.svg" alt="" />
          </a>
        </div>
        <% }) %>
      </div>
    </section>
    <footer class="footer_container" id="footer_container"></footer>
    <script src="/js/index.js"></script>
  </body>
</html>
